In [11]:
import numpy as np
import pandas as pd

# Need to build a model based off the factors given
# Need to build models for the factors to predict their values in 2122
# Using values predicted for the factors, plug into model build on exisitng data

In [6]:
life = pd.read_csv("life-expectancy.csv") # Source: https://ourworldindata.org/life-expectancy

In [15]:
fertility = pd.read_csv("fertility-rate.csv") # Source: https://ourworldindata.org/fertility-rate

In [33]:
population = pd.read_csv("population.csv")

In [34]:
population

            Entity Code  Year  Population (historical estimates)
0      Afghanistan  AFG  1800                            3280000
1      Afghanistan  AFG  1801                            3280000
2      Afghanistan  AFG  1802                            3280000
3      Afghanistan  AFG  1803                            3280000
4      Afghanistan  AFG  1804                            3280000
5      Afghanistan  AFG  1805                            3280000
6      Afghanistan  AFG  1806                            3280000
7      Afghanistan  AFG  1807                            3280000
8      Afghanistan  AFG  1808                            3280000
9      Afghanistan  AFG  1809                            3280000
10     Afghanistan  AFG  1810                            3280000
11     Afghanistan  AFG  1811                            3280000
12     Afghanistan  AFG  1812                            3280000
13     Afghanistan  AFG  1813                            3280000
14     Afghanistan  AFG  1814                            3280000
15     Afghanistan  AFG  1815                            3280000
16     Afghanistan  AFG  1816                            3280000
17     Afghanistan  AFG  1817                            3280000
18     Afghanistan  AFG  1818                            3280000
19     Afghanistan  AFG  1819                            3282935
20     Afghanistan  AFG  1820                            3288817
21     Afghanistan  AFG  1821                            3297661
22     Afghanistan  AFG  1822                            3309479
23     Afghanistan  AFG  1823                            3324285
24     Afghanistan  AFG  1824                            3339157
25     Afghanistan  AFG  1825                            3354095
26     Afghanistan  AFG  1826                            3369101
27     Afghanistan  AFG  1827                            3384173
28     Afghanistan  AFG  1828                            3399313
29     Afghanistan  AFG  1829                            3414520
...            ...  ...   ...                                ...
48340     Zimbabwe  ZWE  1992                           10900511
48341     Zimbabwe  ZWE  1993                           11092775
48342     Zimbabwe  ZWE  1994                           11261752
48343     Zimbabwe  ZWE  1995                           11410721
48344     Zimbabwe  ZWE  1996                           11541215
48345     Zimbabwe  ZWE  1997                           11653254
48346     Zimbabwe  ZWE  1998                           11747079
48347     Zimbabwe  ZWE  1999                           11822722
48348     Zimbabwe  ZWE  2000                           11881482
48349     Zimbabwe  ZWE  2001                           11923906
48350     Zimbabwe  ZWE  2002                           11954293
48351     Zimbabwe  ZWE  2003                           11982219
48352     Zimbabwe  ZWE  2004                           12019911
48353     Zimbabwe  ZWE  2005                           12076697
48354     Zimbabwe  ZWE  2006                           12155496
48355     Zimbabwe  ZWE  2007                           12255920
48356     Zimbabwe  ZWE  2008                           12379553
48357     Zimbabwe  ZWE  2009                           12526964
48358     Zimbabwe  ZWE  2010                           12697728
48359     Zimbabwe  ZWE  2011                           12894323
48360     Zimbabwe  ZWE  2012                           13115149
48361     Zimbabwe  ZWE  2013                           13350378
48362     Zimbabwe  ZWE  2014                           13586710
48363     Zimbabwe  ZWE  2015                           13814642
48364     Zimbabwe  ZWE  2016                           14030338
48365     Zimbabwe  ZWE  2017                           14236599
48366     Zimbabwe  ZWE  2018                           14438812
48367     Zimbabwe  ZWE  2019                           14645473
48368     Zimbabwe  ZWE  2020                           14862927
48369     Zimbabwe  ZWE  2021                           15092171

[48370 rows x 4 columns]

In [24]:
fertility["Entity"].nunique()

246

In [26]:
life["Entity"].nunique()

243

In [32]:
print(np.setdiff1d(countries, fertCountries))

['American Samoa' 'Americas' 'Andorra' 'Anguilla' 'Bermuda'
 'Bonaire Sint Eustatius and Saba' 'British Virgin Islands'
 'Cayman Islands' 'Cook Islands' 'Dominica' 'Faeroe Islands'
 'Falkland Islands' 'Gibraltar' 'Greenland' 'Isle of Man' 'Liechtenstein'
 'Marshall Islands' 'Monaco' 'Montserrat' 'Nauru' 'Niue'
 'Northern Mariana Islands' 'Palau' 'Saint Barthlemy' 'Saint Helena'
 'Saint Kitts and Nevis' 'Saint Martin (French part)'
 'Saint Pierre and Miquelon' 'San Marino' 'Sint Maarten (Dutch part)'
 'Tokelau' 'Turks and Caicos Islands' 'Tuvalu' 'Vatican'
 'Wallis and Futuna']

In [35]:
diffCountries = np.setdiff1d(countries, fertCountries)

In [64]:
population.head()

          Entity Code  Year  Population (historical estimates)
162  Afghanistan  AFG  1962                            9351442
163  Afghanistan  AFG  1963                            9543200
164  Afghanistan  AFG  1964                            9744772
165  Afghanistan  AFG  1965                            9956318
166  Afghanistan  AFG  1966                           10174840

In [63]:
population = population[population['Year'] > 1961]

In [40]:
population[population['Entity'] == 'Zimbabwe']['Population (historical estimates)']

48148     1085814
48149     1085814
48150     1085814
48151     1085814
48152     1085814
48153     1085814
48154     1085814
48155     1085814
48156     1085814
48157     1085814
48158     1085814
48159     1085814
48160     1085814
48161     1085814
48162     1085814
48163     1085814
48164     1085814
48165     1085814
48166     1085814
48167     1082301
48168     1075333
48169     1064965
48170     1051251
48171     1034247
48172     1017518
48173     1001060
48174      984868
48175      968938
48176      953265
48177      937846
           ...
48340    10900511
48341    11092775
48342    11261752
48343    11410721
48344    11541215
48345    11653254
48346    11747079
48347    11822722
48348    11881482
48349    11923906
48350    11954293
48351    11982219
48352    12019911
48353    12076697
48354    12155496
48355    12255920
48356    12379553
48357    12526964
48358    12697728
48359    12894323
48360    13115149
48361    13350378
48362    13586710
48363    13814642
48364    14030338
48365    14236599
48366    14438812
48367    14645473
48368    14862927
48369    15092171
Name: Population (historical estimates), Length: 222, dtype: int64

In [67]:
totalPop = 0
for c in diffCountries:
    #print(c)
    totalPop += np.sum(population[population['Entity'] == c]['Population (historical estimates)'].values)
#print(population[population['Entity'] 
    #print(population[population['Entity'] == 'American Samoa']['Population (historical estimates)'])
    #print(population[population['Entity'] == 'American Samoa']['Population (historical estimates)'][1])
    #totalPop += population[population['Entity'] == c]['Population (historical estimates)']
    #totalPop += population['Entity' == c]['Population (historical estimates)']
print(totalPop)
print(totalPop/60)

52296067
871601.1166666667

In [59]:
print(np.sum(print(population[population['Entity'] == 'American Samoa']['Population (historical estimates)'].values)))
#print(population[population['Entity'] == 'American Samoa']['Population (historical estimates)'][1])
    #totalPop += population[population['Entity']

[ 3005  3163  3339  3524  3720  3927  4145  4663  5246  5902  6639  7469
  8963 10756 12908 18941 19287 19546 19699 19758 19748 19712 19671 19690
 19827 20127 20605 21246 22029 22850 23675 24473 25235 25980 26698 27362
 27982 28564 29103 29595 30045 30455 30834 31262 31842 32648 33697 34969
 36413 37946 39521 41114 42741 44346 45894 47351 48682 49900 51025 52099
 53158 54209 55227 56180 57049 57816 58496 59077 59495 59684 59557 59109
 58367 57490 56675 56084 55755 55669 55717 55791 55806 55739 55617 55461
 55312 55197 55103]
None

In [60]:
print(np.sum(population[population['Entity'] == 'American Samoa']['Population (historical estimates)'].values))
#print(population[population['Entity'] == 'American Samoa']['Population (historical estimates)'][1])
    #totalPop += population[population['Entity']

2980396

In [29]:
countries = life["Entity"].unique()

In [30]:
fertCountries = fertility["Entity"].unique()

In [31]:
countries

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'American Samoa',
       'Americas', 'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Asia', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad',
       'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros',
       'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
       'Cuba', 'Curacao', 'Cyprus', 'Czechia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Europe', 'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland',
       'France', 'French Guiana', 'French Polynesia', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latin America and the Caribbean', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Macao', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North Korea', 'North Macedonia', 'Northern America',
       'Northern Mariana Islands', 'Norway', 'Oceania', 'Oman',
       'Pakistan', 'Palau', 'Palestine', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russia', 'Rwanda',
       'Saint Barthlemy', 'Saint Helena', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Martin (French part)',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Vatican', 'Venezuela', 'Vietnam', 'Wallis and Futuna',
       'Western Sahara', 'World', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [25]:
life

            Entity Code  Year  Life expectancy
0      Afghanistan  AFG  1950           27.638
1      Afghanistan  AFG  1951           27.878
2      Afghanistan  AFG  1952           28.361
3      Afghanistan  AFG  1953           28.852
4      Afghanistan  AFG  1954           29.350
5      Afghanistan  AFG  1955           29.854
6      Afghanistan  AFG  1956           30.365
7      Afghanistan  AFG  1957           30.882
8      Afghanistan  AFG  1958           31.403
9      Afghanistan  AFG  1959           31.925
10     Afghanistan  AFG  1960           32.446
11     Afghanistan  AFG  1961           32.962
12     Afghanistan  AFG  1962           33.471
13     Afghanistan  AFG  1963           33.971
14     Afghanistan  AFG  1964           34.463
15     Afghanistan  AFG  1965           34.948
16     Afghanistan  AFG  1966           35.430
17     Afghanistan  AFG  1967           35.914
18     Afghanistan  AFG  1968           36.403
19     Afghanistan  AFG  1969           36.900
20     Afghanistan  AFG  1970           37.409
21     Afghanistan  AFG  1971           37.930
22     Afghanistan  AFG  1972           38.461
23     Afghanistan  AFG  1973           39.003
24     Afghanistan  AFG  1974           39.558
25     Afghanistan  AFG  1975           40.128
26     Afghanistan  AFG  1976           40.715
27     Afghanistan  AFG  1977           41.320
28     Afghanistan  AFG  1978           41.944
29     Afghanistan  AFG  1979           42.585
...            ...  ...   ...              ...
18998     Zimbabwe  ZWE  1990           58.100
18999     Zimbabwe  ZWE  1991           56.749
19000     Zimbabwe  ZWE  1992           55.243
19001     Zimbabwe  ZWE  1993           53.653
19002     Zimbabwe  ZWE  1994           52.044
19003     Zimbabwe  ZWE  1995           50.480
19004     Zimbabwe  ZWE  1996           49.009
19005     Zimbabwe  ZWE  1997           47.661
19006     Zimbabwe  ZWE  1998           46.466
19007     Zimbabwe  ZWE  1999           45.461
19008     Zimbabwe  ZWE  2000           44.649
19009     Zimbabwe  ZWE  2001           44.010
19010     Zimbabwe  ZWE  2002           43.523
19011     Zimbabwe  ZWE  2003           43.195
19012     Zimbabwe  ZWE  2004           43.065
19013     Zimbabwe  ZWE  2005           43.241
19014     Zimbabwe  ZWE  2006           43.853
19015     Zimbabwe  ZWE  2007           44.947
19016     Zimbabwe  ZWE  2008           46.504
19017     Zimbabwe  ZWE  2009           48.449
19018     Zimbabwe  ZWE  2010           50.640
19019     Zimbabwe  ZWE  2011           52.896
19020     Zimbabwe  ZWE  2012           55.032
19021     Zimbabwe  ZWE  2013           56.897
19022     Zimbabwe  ZWE  2014           58.410
19023     Zimbabwe  ZWE  2015           59.534
19024     Zimbabwe  ZWE  2016           60.294
19025     Zimbabwe  ZWE  2017           60.812
19026     Zimbabwe  ZWE  2018           61.195
19027     Zimbabwe  ZWE  2019           61.490

[19028 rows x 4 columns]

In [9]:
fertility

,Entity,Code,Year,"Estimates, 1950 - 2020: Annually interpolated demographic indicators - Total fertility (live births per woman)"
0,Afghanistan,AFG,1950,7.450
1,Afghanistan,AFG,1951,7.450
2,Afghanistan,AFG,1952,7.450
3,Afghanistan,AFG,1953,7.450
4,Afghanistan,AFG,1954,7.450
5,Afghanistan,AFG,1955,7.450
6,Afghanistan,AFG,1956,7.450
7,Afghanistan,AFG,1957,7.450
8,Afghanistan,AFG,1958,7.450
9,Afghanistan,AFG,1959,7.450
10,Afghanistan,AFG,1960,7.450
11,Afghanistan,AFG,1961,7.450
12,Afghanistan,AFG,1962,7.450
13,Afghanistan,AFG,1963,7.450
14,Afghanistan,AFG,1964,7.450
15,Afghanistan,AFG,1965,7.450
16,Afghanistan,AFG,1966,7.450
17,Afghanistan,AFG,1967,7.450
18,Afghanistan,AFG,1968,7.450
19,Afghanistan,AFG,1969,7.450
20,Afghanistan,AFG,1970,7.450
21,Afghanistan,AFG,1971,7.450
22,Afghanistan,AFG,1972,7.450
23,Afghanistan,AFG,1973,7.450
24,Afghanistan,AFG,1974,7.450
25,Afghanistan,AFG,1975,7.450
26,Afghanistan,AFG,1976,7.450
27,Afghanistan,AFG,1977,7.449
28,Afghanistan,AFG,1978,7.449
29,Afghanistan,AFG,1979,7.449
...,...,...,...,...
17436,Zimbabwe,ZWE,1991,4.676
17437,Zimbabwe,ZWE,1992,4.503
17438,Zimbabwe,ZWE,1993,4.346
17439,Zimbabwe,ZWE,1994,4.207
17440,Zimbabwe,ZWE,1995,4.088
17441,Zimbabwe,ZWE,1996,3.989
17442,Zimbabwe,ZWE,1997,3.907
17443,Zimbabwe,ZWE,1998,3.839
17444,Zimbabwe,ZWE,1999,3.786
17445,Zimbabwe,ZWE,2000,3.748
17446,Zimbabwe,ZWE,2001,3.725
17447,Zimbabwe,ZWE,2002,3.718
17448,Zimbabwe,ZWE,2003,3.725
17449,Zimbabwe,ZWE,2004,3.744
17450,Zimbabwe,ZWE,2005,3.775
17451,Zimbabwe,ZWE,2006,3.819
17452,Zimbabwe,ZWE,2007,3.873
17453,Zimbabwe,ZWE,2008,3.931
17454,Zimbabwe,ZWE,2009,3.988
17455,Zimbabwe,ZWE,2010,4.034
17456,Zimbabwe,ZWE,2011,4.059
17457,Zimbabwe,ZWE,2012,4.058
17458,Zimbabwe,ZWE,2013,4.030
17459,Zimbabwe,ZWE,2014,3.974
17460,Zimbabwe,ZWE,2015,3.896
17461,Zimbabwe,ZWE,2016,3.804
17462,Zimbabwe,ZWE,2017,3.707
17463,Zimbabwe,ZWE,2018,3.615
17464,Zimbabwe,ZWE,2019,3.531
17465,Zimbabwe,ZWE,2020,3.460

In [12]:
fertility.columns

Index(['Entity', 'Code', 'Year',
       'Estimates, 1950 - 2020: Annually interpolated demographic indicators - Total fertility (live births per woman)'],
      dtype='object')

In [20]:
# Change the column name 
# Estimates, 1950 - 2020: Annually interpolated demographic indicators - Total fertility (live births per woman)
# to Fertility Rate
fertility = fertility.rename(columns={'Estimates, 1950 - 2020: Annually interpolated demographic indicators - Total fertility (live births per woman)' : 'Fertility Rate'})

In [19]:
fertility

            Entity Code  Year  Fertility Rate
0      Afghanistan  AFG  1950           7.450
1      Afghanistan  AFG  1951           7.450
2      Afghanistan  AFG  1952           7.450
3      Afghanistan  AFG  1953           7.450
4      Afghanistan  AFG  1954           7.450
5      Afghanistan  AFG  1955           7.450
6      Afghanistan  AFG  1956           7.450
7      Afghanistan  AFG  1957           7.450
8      Afghanistan  AFG  1958           7.450
9      Afghanistan  AFG  1959           7.450
10     Afghanistan  AFG  1960           7.450
11     Afghanistan  AFG  1961           7.450
12     Afghanistan  AFG  1962           7.450
13     Afghanistan  AFG  1963           7.450
14     Afghanistan  AFG  1964           7.450
15     Afghanistan  AFG  1965           7.450
16     Afghanistan  AFG  1966           7.450
17     Afghanistan  AFG  1967           7.450
18     Afghanistan  AFG  1968           7.450
19     Afghanistan  AFG  1969           7.450
20     Afghanistan  AFG  1970           7.450
21     Afghanistan  AFG  1971           7.450
22     Afghanistan  AFG  1972           7.450
23     Afghanistan  AFG  1973           7.450
24     Afghanistan  AFG  1974           7.450
25     Afghanistan  AFG  1975           7.450
26     Afghanistan  AFG  1976           7.450
27     Afghanistan  AFG  1977           7.449
28     Afghanistan  AFG  1978           7.449
29     Afghanistan  AFG  1979           7.449
...            ...  ...   ...             ...
17436     Zimbabwe  ZWE  1991           4.676
17437     Zimbabwe  ZWE  1992           4.503
17438     Zimbabwe  ZWE  1993           4.346
17439     Zimbabwe  ZWE  1994           4.207
17440     Zimbabwe  ZWE  1995           4.088
17441     Zimbabwe  ZWE  1996           3.989
17442     Zimbabwe  ZWE  1997           3.907
17443     Zimbabwe  ZWE  1998           3.839
17444     Zimbabwe  ZWE  1999           3.786
17445     Zimbabwe  ZWE  2000           3.748
17446     Zimbabwe  ZWE  2001           3.725
17447     Zimbabwe  ZWE  2002           3.718
17448     Zimbabwe  ZWE  2003           3.725
17449     Zimbabwe  ZWE  2004           3.744
17450     Zimbabwe  ZWE  2005           3.775
17451     Zimbabwe  ZWE  2006           3.819
17452     Zimbabwe  ZWE  2007           3.873
17453     Zimbabwe  ZWE  2008           3.931
17454     Zimbabwe  ZWE  2009           3.988
17455     Zimbabwe  ZWE  2010           4.034
17456     Zimbabwe  ZWE  2011           4.059
17457     Zimbabwe  ZWE  2012           4.058
17458     Zimbabwe  ZWE  2013           4.030
17459     Zimbabwe  ZWE  2014           3.974
17460     Zimbabwe  ZWE  2015           3.896
17461     Zimbabwe  ZWE  2016           3.804
17462     Zimbabwe  ZWE  2017           3.707
17463     Zimbabwe  ZWE  2018           3.615
17464     Zimbabwe  ZWE  2019           3.531
17465     Zimbabwe  ZWE  2020           3.460

[17466 rows x 4 columns]

Preciting these factors


Do we take averages on years s.t. combinding fertility rate, life expect, etc. of all countries?
Thinking above approach would be easiiest^, but could run into issues of importance of fertility rate across various countries i.e. do 

?'s = Dependency ratio, population density, 

literacy rate, average # of years in school

X = Country, Year, fertility rate, life expectancy, death rate, birth rate
Y = population

hierarchical model of taking in variance of each region